.btn {
    margin-left: 50px;
    border-radius: 10px;
    background-color: rgba(58, 196, 48, 0.693);
    width: 280px;
    height: 80px;
    cursor: pointer;
}

.btn_text {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.btn:hover {
    transform: scale(1.25);
}



.void {
    visibility: hidden;
}
